# MongoDB Root Config (read directly by Docker)
MONGO_INITDB_ROOT_USERNAME=xxxxxxxxxxxxxx
MONGO_INITDB_ROOT_PASSWORD=xxxxxxxxxxxxxx
MONGO_INITDB_DATABASE=xxxxxxxxxxxxxx
x
# Spring Boot App Config
SERVER_PORT=8083
JWT_SECRET=xxxxxxxxxxxxxx
JWT_EXPIRATION=86400000

#cloudinary 
# Cloudinary
CLOUDINARY_CLOUD_NAME=xxxxxxxxxxxxxx
CLOUDINARY_API_KEY=xxxxxxxxxxxxxx
CLOUDINARY_API_SECRET=xxxxxxxxxxxxxx