# MongoDB Root Config (read directly by Docker)
MONGO_INITDB_ROOT_USERNAME=xxxxxxxxx
MONGO_INITDB_ROOT_PASSWORD=xxxxxxxxx
MONGO_INITDB_DATABASE=xxxxxxxxx

# Spring Boot App Config
SERVER_PORT=8081
JWT_SECRET=xxxxxxxxx
JWT_EXPIRATION=86400000